#div1 {
    width: 350px;
    height: 570px;
    padding: 10px;
    border: 1px solid #aaaaaa;
    background-color: cornflowerblue;
    float: left;
}
#div2 {
    width: 350px;
    height: 570px;
    padding: 10px;
    border: 1px solid #aaaaaa;
    background-color: indianred;
    float: right;
}
#drag1 {
    width: 336px;
    height: 169px;
}
#drag2 {
    width: 336px;
    height: 169px;
}
#draggable {
    width: 100px;
    height: 50px;
}